@model IEnumerable<crudNomina.Data.Transaccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form asp-controller="Transacciones" method="post" asp-action="FilterTransactionsDate" class="d-flex justify-content-between ">
    <div class="col-2"><a asp-action="Create">Create New</a></div>
    <div class="d-flex justify-content-around ">
        <div class="col-4">
            <label for="startDate">Fecha Desde:</label>
            <input type="datetime-local" id="startDate" name="startDate">

        </div>
        <div class="col-4">
            <label for="endDate">Fecha Hasta:</label>
            <input type="datetime-local" id="endDate" name="endDate">

        </div>
    </div>
    <div class="col-2">
        <button class="btn btn-success" type="submit" >Contabilizar</button>
    </div>
    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDeduccionNavigation)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdIngresoNavigation)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTransaccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDeduccionNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdIngresoNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
